@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kumbh Sans', sans-serif;
}

@layer base {
  :root {
    --color-orange: 255, 125, 26;
    --color-orange-pale: 255, 237, 224;
    --color-blue-dark: 29, 32, 37;
    --color-grayish-blue-dark: 104, 112, 125;
    --color-grayish-blue: 182, 188, 200;
    --color-grayish-blue-light: 247, 248, 253;
  }
}
